.layout {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainArea {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* This is now the scrollable background area */
.content {
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
}